
body {
    background-image: linear-gradient(to top, rgb(152, 40, 40),rgb(202, 154, 66),rgb(219, 228, 181),rgb(58, 58, 176),rgb(34, 0, 34));
    }

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 50px;
   text-align: center;
   font-style: oblique;
   text-shadow: white 0px 0px 5pt;
   color: rgb(255, 255, 255);
}


ul {
    display: flex;
    flex-direction: row;
    list-style-type:none;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-top: 30px;
    }

p{
    color: rgb(255, 255, 255);
    font-size: large;
    margin-top: 50px;
}

.titlebg {
    border-style: 20px;
    border-color: rgb(0, 0, 0);
    box-shadow:rgb(0, 0, 0) 10pt 10pt 25pt;
    background-image: linear-gradient(to bottom, rgb(15, 15, 15),rgb(149, 149, 149),rgb(0, 0, 0),rgb(149, 149, 149),rgb(0, 0, 0));
    
}



html {
    font-size: 10px;
    background: url('./background.jpg') bottom center;
    background-size: cover;
  }
  
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
  }

